@model IEnumerable<VinyLand.Models.Offer>


@{
    ViewBag.Title = "UserSignedUp";
    Layout = Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
    <body>


        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h4> Your offers</h4>
                @if (Model.Count() == 1)
                {
                    <h5 class="text-warning"> You have @Model.Count() sended offer</h5>
                }
                else
                {
                    <h5 class="text-warning"> You have @Model.Count() sended offers</h5>
                }
                <div style="">
                    @if (Model.Count() == 0)
                    {
                        <h3>You didnt send any offers</h3>
                    }
                <table class="table table-striped table table-dark table-condensed voc_list">
                    <tr>
                        <th></th>

                        <th>Type</th>
                        <th>Record/Money</th>
                        <th>For their</th>
                        <th>Status </th>
                    </tr>


                    @foreach (var item in Model)
                    {


                        <tr>
                            <td style="padding:15px 0px 15px 0px; resize:50px;">
                                <a href="xy" title="">
                                    <img class="img-responsive voc_list_preview_img" style="width:auto; padding-left:10px; " src="~/Content/Pictures/Logo_wix.jpg" width="50" height="50">
                                </a>
                            </td>
                            @if (item.Type == "Trade")
                            {
                                <td class="text-secondary"> Trade</td>
                            }
                            else
                            {
                                <td class="text-info"> Money offer</td>
                            }


                            @if (item.Type == "Trade")
                            {
                                <td>
                                    <label>@item.RecordTitleB</label>

                                </td>
                            }
                            else
                            {
                                <td>
                                    <label> @item.Price $ </label>

                                </td>
                            }

                            <td>
                                <label>@item.RecordTitleS </label>

                            </td>
                            @if (item.Status == "Pending")
                            {
                                <td>
                                    <label class="text-warning">@item.Status <i class="fa fa-question-circle" aria-hidden="true"></i></label>

                                </td>
                            }
                            else if (item.Status == "Accepted")
                            {
                                <td>
                                    <label class="text-success">@item.Status </label> <i class="fa fa-check-circle" aria-hidden="true"></i>

                                </td>
                            }
                            else
                            {
                                <td>
                                    <label class="text-danger">@item.Status <i class="fa fa-times-circle" aria-hidden="true"></i></label>

                                </td>
                            }






                            </tr >



                        }











                </table>

                </div>

            </div>
        </div>




    </body>

</html>
